#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.blank.title', type.modelName) /}

<div id="crudBlank" class="${type.name}">

    <h2 id="crudBlankTitle">&{'crud.blank.title', type.modelName}</h2>

    <div class="objectForm">
    #{form action:@create(), enctype:'multipart/form-data'}
        #{crud.form}
            #{crud.custom 'postedAt'}

            #{/crud.custom}
            #{crud.custom 'author'}

            #{/crud.custom}
            #{crud.custom 'ingredients'}
                <label for="ingredients">
                    &{'ingredients'}
                </label> 
                <!-- Input for specifying ingredients -->
                <span>
                    #{field 'ingredients'}
                    <textarea id="${field.name}" name="${field.name}">${recipe?.ingredients}</textarea> 
                    #{/field}
                    <span class="crudHelp">Minimum one ingredient required. One ingredient per line</span>
                </span>
            #{/crud.custom}
            #{crud.custom 'tags'}
                <label for="tags">
                    &{'tags'}
                </label>
                <!-- Input for specifying tags -->
                <span>
                    #{field 'tags'}
                    <input type="text" id="${field.name}" name="${field.name}" 
                        value="${recipe?.tags}" size="50"/>
                    #{/field}
                    <span class="crudHelp">Tags must be separated by a single space</span>
                </span>

            #{/crud.custom}
        #{/crud.form}
        <p class="crudButtons">
            <input type="submit" name="_save" value="&{'crud.save', type.modelName}" />
            <input type="submit" name="_saveAndContinue" value="&{'crud.saveAndContinue', type.modelName}" />
            <input type="submit" name="_saveAndAddAnother" value="&{'crud.saveAndAddAnother', type.modelName}" />
        </p>
    #{/form}
    </div>

    <!-- Script to deal with the display of ingredients and tags if there is an error -->
    <script type="text/javascript">
    $( document ).ready(function() {
    	var tags = $('#tags').val().replace("[","").replace("]","").split(',');
    	var ingredients = $('#ingredients').val().replace("[","").replace("]","").split(', ');
    	var valTags = '';
    	var valIngredients = '';
    	$.each( tags, function( key, value ) {
    		valTags += value;
    	});
    	$('#tags').val(valTags);
    	$.each( ingredients, function( key, value ) {
            valIngredients += value;
        });
    	$('#ingredients').val(valIngredients);
    });
    </script>

</div>