#{extends 'main.html' /}
#{set title:'Home' /}

<p id="searchRecipes" >
    <a href="@{form()}"><span>+</span> Search recipes by category</a>
</p>


#{if frontRecipe}
    
    #{display recipe:frontRecipe, as:'home' /}
    
    #{if olderRecipes.size()}
    
        <div class="older-recipes">
            <h3>Older recipes <span class="from">from this application</span></h3>
        
            #{list items:olderRecipes, as:'oldRecipe'}
                #{display recipe:oldRecipe, as:'teaser' /}
            #{/list}
        </div>
        
    #{/if}
    
#{/if}
 
#{else}
    <div class="empty">
        There is currently nothing to read here.
    </div>
#{/else}