#{extends 'main.html' /}
#{set title:'Home' /}

<h3>Select categories</h3>
 
#{form @index()}
 
    #{ifErrors}
        <p class="error">
            Please correct these errors.
        </p>
    #{/ifErrors}
    
    <div class="collapsible">
	    <a href="#hide1" class="hide" id="hide1">+</a>
	    <a href="#show1" class="show" id="show1">-</a>
    
	    <div class="dish-categories">
			<ul>
				#{list items:dishCategories, as:'dishCategory'}
					<li>
						#{displayDishCategoryCheckboxes dishCategory:dishCategory /}
					</li>
				#{/list}
	    	</ul>
	
		#{field 'dishCategoriesText'}
	        <input type="hidden" size="50" id="${field.name}" name="${field.name}" value="${dishCategoriesText}"/>
	    #{/field}
	    #{field 'dishTagsText'}
	        <label for=${field.name}">
	            &{'Shearch by tag'}
	        </label>
	        <input type="text" size="20" id="${field.name}" name="${field.name}" value="${dishTagsText}"/>
	    #{/field}
	    <input type="submit" value="Search recipes"/>
		</div>
	</div>
    
#{/form}

#{if recipes.size()}

    <div class="recipes">
        <h3>Most recent recipes <span class="from">from this application</span></h3>
    
        #{list items:recipes, as:'recipe'}
            #{display recipe:recipe, as:'teaser' /}
        #{/list}
    </div>
    
#{/if}
 
#{else}
    <div class="empty">
        There is currently nothing to read here.
    </div>
#{/else}