#{extends 'main.html' /}
#{set title:'Home' /}
 
 <button class="btn btn-info" data-toggle="collapse" data-target="#search-area">Find a recipe!</button>
#{form @index()}
 
    #{ifErrors}
        <p class="error">
            Please correct these errors.
        </p>
    #{/ifErrors}
    
    <div id="search-area" class="collapse">
	    <div class="dish-categories">
	       <label for="categories">
                Select categories
            </label>
			<ul id="categories">
				#{list items:dishCategories, as:'dishCategory'}
					<li>
						#{displayDishCategoryCheckboxes dishCategory:dishCategory /}
					</li>
				#{/list}
	    	</ul>
	
		#{field 'dishCategoriesText'}
	        <input type="hidden" size="50" id="${field.name}" name="${field.name}" value="${dishCategoriesText}"/>
	    #{/field}
	    </div>
	    #{field 'dishTagsText'}
	        <label for=${field.name}">
	            &{'Shearch by tag'}
	        </label>
	        <input type="text" size="20" id="${field.name}" name="${field.name}" value="${dishTagsText}"/>
	    #{/field}
	    <input type="submit" value="Search recipes"/>
	</div>
    
#{/form}

#{if recipes.size()}

    <div class="recipes">
        #{if (dishCategoriesText == null) || (dishTagsText == null)}
            <h2>Most recent recipes</h2>
        #{/if}
        #{else}
            <h2>Rcipes matching your research:</h2>
        #{/else}
    
        #{list items:recipes, as:'recipe'}
            #{display recipe:recipe, as:'teaser' /}
        #{/list}
    </div>
    
#{/if}

<script type="text/javascript" charset="utf-8">
    $(function() {         
        // S'il y a eu une recherche avant, focus to form
        if($('input[type="hidden"]').val() != "") {
        	$('html').scrollTop($(".recipes").offset().top);
        }
    });
</script>