#{extends 'main.html' /}
 
<h3>Let's share your recipes! Create your account:</h3>

#{form @save()}
    <div class="form">
    #{ifErrors}
        <p class="error">
            Please correct these errors.
        </p>
    #{/ifErrors}
    
    #{if flash.error}
        <p class="error">${flash.error}</p>
    #{/if}
     
    <p>
        #{field 'login'}
        <label>Your login:</label>
        <input type="text" name="${field.name}" 
            value="${user?.login}" />
        <span class="error">#{error 'user.login' /}</span>
        #{/field}
    </p>
    
    <p>
        #{field 'email'}
        <label>Your email:</label>
        <input type="text" name="${field.name}" 
            value="${user?.email}" />
        <span class="error">#{error 'user.email' /}</span>
        #{/field}
    </p>
    
    <p>
        #{field 'password'}
        <label>Your password:</label>
        <input type="password" name="${field.name}" 
            value="${user?.password}" />
        <span class="error">#{error 'user.password' /}</span>
        #{/field}
    </p>
    
    <p>
        <input type="submit" class="btn btn-primary" value="Create your account" />
    </p>
    </div>
#{/form}