<!DOCTYPE html >
<html>
    <head>
        <title>#{get 'title' /}</title>		
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <script src="@{'/public/javascripts/jquery-1.12.0.min.js'}"></script>
        <script src="@{'/public/javascripts/bootstrap.min.js'}"></script>
        <script src="@{'/public/javascripts/star-rating.min.js'}"></script>
        
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}" />
        <link rel="stylesheet" href="@{'/public/stylesheets/bootstrap.min.css'}">
        <link rel="stylesheet" type="text/css" media="all" href="@{'/public/stylesheets/star-rating.min.css'}" />
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/main.css'}" />
    </head>
    <body>
        
        <div id="header">
            <div id="logo">
                Cooking Star.
            </div>
            <ul id="tools">
                <li>
                    <a href="@{AccountCreation.form()}">${user != null ? '' : 'Sign up'} </a>
                </li>
                <li>
                    <a href="@{Admin.index()}">${user != null ? user.login : 'Sign in'} </a>
                </li>
                <li>
                    <a href="@{Secure.logout()}">${user != null ? 'Log out' : ''}</a>
                </li>
            </ul>
            <div id="title">
                <span class="about">About this application</span>
                <h1><a href="@{Application.index()}">${applicationBaseline}</a></h1>
            </div>
        </div>
        
        <div id="main">
            #{doLayout /} 
        </div>
        
        <p id="footer">
            Cooking Star is a huge recipe data base built with the 
            <a href="http://www.playframework.org">Play framework</a>.
        </p>
        
    </body>
</html>
